@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.6;
  padding: 0 4rem;
  background-color: #FFF;
  
}

.title-text {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.btn {
  padding: 1rem;
  background: tomato;
  color: #FFF;
  font-weight: 700;
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  transition: background-color ease-in-out 0.2s;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(81, 121, 241);
  color: gold;
}

input[type="text"] {
  padding: .5rem;
  border-radius: 5px;
  width: 300px;
  height: 40px;
  border: 1px solid #ccc;
  margin-right: .5rem;
}

#todo-list {
  /* background-color: blue; */
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}

#todo-list > div{
  border: 1px solid #777;
  padding: 1rem;
  margin: .5rem;
  cursor: pointer;
  font-size: 1.5rem;
}

.done {
  background-color: #ccc;
  color: #666;
}


.unmarked {
  background-color: #FFF;
}